<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mqttConfig" type="MqttConfig.MqttConfig, MqttConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="MQTTServer" value="server"/>
    <add key="MQTTPort" value="1883"/>
  </appSettings>
  
  <mqttConfig brokerServer="Server" brokerPort="1883" xmlns="MqttConfig">
    <mqttEventHandlers>
      <mqttEventHandler Name="Sonoff Handler" File="D:\Projects\Garden\MQTT_Processing\MQTT_Processing_Config\sonoff.mqtp"/>
    </mqttEventHandlers>
  </mqttConfig>

</configuration>